@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

.box {
  background-color: grey;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(800px);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-800px);
}

.box.show {
  transform: translateX(0);
}
